<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @roster.name %>
</p>

<h2>Players</h2>
<% @roster.players.order('number ASC').all.each do |player| %>
  <p>
    <b>Player:</b>
    <%= player.name %>
  </p>
 
  <p>
    <b>Number:</b>
    <%= player.number %>
  </p>
  <p>
  <%= link_to 'Edit Player', edit_roster_players_path(roster_id: @roster, id:player.id) %>
  <%= link_to 'Remove Player', [player.roster, player],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
<% end %>

<h2>Add a player:</h2>
<%= form_for([@roster, @roster.players.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
 <% end %>


<%= link_to 'Edit', edit_roster_path(@roster) %> |
<%= link_to 'Back', rosters_path %>
