<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0046)http://ucdavisultimate.com/html/home/home.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>UC DAVIS MEN'S ULTIMATE TEAM</title>

<meta name="description" content="Your Website Description">
<meta name="keywords" content="keywords, go, here">
<link rel="icon" href="/UC DAVIS MEN'S ULTIMATE TEAM_files/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/UC DAVIS MEN'S ULTIMATE TEAM_files/favicon.ico" type="image/x-icon"> 	
<meta name="google-site-verification" content="bE8h2ArbCGsKUY_S16MhqTnv-agJn-XSIaUh4YuHMpU">
</head>

<body>
	<div class="content">
		
  <div id="top">
      
		</div>
		<div id="header"></div>
	
			<div id="navcontainer">
<ul id="navlist">
<li id="active"><%=link_to "HOME", root_path() %></li>
<li><%=link_to "NEWCOMERS", newcomers_path() %></li>
<li><%=link_to "HISTORY", history_path() %></li>
<li><%=link_to "BLOG", display_all_posts_path() %></li>
<li><%=link_to "ROSTER", display_rosters_path(id:@roster.last) %></li>
<li><%=link_to "FOR PARENTS", parents_path() %></li>
<li><%=link_to "MERCHANDISE", merchandise_path() %></a></li>
<li><%=link_to "CONTACT", contact_path() %></li>
</ul>
</div>
			
		
		<div id="main">
			<div class="right">
      <div class="text">
      <div id="right_title"><h2white><%= link_to 'NEWS', display_all_news_index_path,{:style=>'color:#FFFFFF;', :class => "css_class"} %></h2white></div>
				
      
      <h3> 
      <ul>
      <li><strong> <%= link_to raw(@topnews.title.upcase), display_news_index_path(id:@topnews) %></strong></li>
    <li> <%= raw(@topnews.subtitle) %> </li>
      </ul>
      </h3>	
      </div>
			  <div id="navleft">
			    <ul id="navlistleft">
		  <li>
		    <h3>IMPORTANT LINKS</h3>
		  </li>
          <li><a href="http://campusrecreation.ucdavis.edu/cms/internal.aspx?uid=0d133d13-b48e-495d-94cd-e689d833b025." target="_blank">UCD SPORTS CLUB</a></li>
		  <li><a href="http://ucdpleiades.weebly.com/index.html" target="_blank">UC DAVIS PLEIADES</a></li>
		  <li><a href="http://www.usaultimate.org/default.aspx" target="_blank">USA ULTIMATE</a></li>
		  <li><a href="http://www.eastbay.com/" target="_blank">EASTBAY</a></li>						
   	    <li><a href="http://www.rsdnospam.com/index.php?t=thread&frm_id=2&" target="_blank">REC.SPORT.DISC</a></li>
						
				</ul>
                <br>
<br>
<br>
<%= link_to image_tag("sportclubs.jpg")%><br><br>
			<p>UC Davis Men's Ultimate Team <br>
is sponsored by UC Davis's<br>
Campus Recreation
</p>
				</div>
			</div>
			
    <div class="left"> 
	
	<div class="article">
      <h2>MERCHANDISE</h2> <br>
	  <!-- <div class="img_left"><img src="./UC DAVIS MEN'S ULTIMATE TEAM_files/qualify_image.jpg" width="525" height="329"></div> -->
	  <%= link_to image_tag("dogs_shirts.png", :size => "525x291")%>
	  <br>
	  <h3>
	  Shirts and tanks to commemorate the second appearance of the Davis Dogs at Nationals are now available! Shirts are well-stocked in sizes S through XL.
	  <br><br>
	  For any questions regarding sizing or quantity, please email us <a href="mailto:szfrawley@ucdavis.edu?Subject=Merchandise%20Ideas">here</a>.
	  <br><br>
	  For all shirt purchases, please send a check to:<br>
	  <strong>Kramer Straube<br>
      1812 Haussler Drive<br>
	  Davis, CA 95616</strong>
	  <br><br>
	  If you have ideas for merchandise that you think we should make, please contact us <a href="mailto:dogsmanagers@gmail.com?Subject=Merchandise%20Ideas">
	  here </a> <br>
				    <br>
	        </h3>
      </div>
	  </div>
			
		
		<div id="footer">
			<div class="info">
				Copyright 2013 UC Davis Dogs<br>
      Site Design by <a href="mailto:kstraube@gmail.com">kstraube@gmail.com</a> Kramer Straube</div> 
    </div>
	</div>


</body></html>

